services:
  server:
    build:
      context: .
      args:
        - MODE=development
    ports:
      - 3000:3000
    environment:
      AUTH_BASE_URL: ${AUTH_BASE_URL}
      AUTH_CLIENT_ID: ${AUTH_CLIENT_ID}
      AUTH_ISSUER_BASE_URL: ${AUTH_ISSUER_BASE_URL}
      AUTH_SECRET: ${AUTH_SECRET}
      CARD_TRADER_API_KEY: ${CARD_TRADER_API_KEY}
      EMAILER_SERVICE: ${EMAILER_SERVICE}
      EMAILER_SENDER: ${EMAILER_SENDER}
      EMAILER_PASSWORD: ${EMAILER_PASSWORD}
      DATABASE_URL: ${DATABASE_URL}
      ADMIN_TOKEN: ${ADMIN_TOKEN}
      HONEY_BADGER: ${HONEY_BADGER}
    depends_on:
      - postgres

  postgres:
    image: postgres:16-alpine
    ports:
      - 5432:5432
    restart: always
    volumes:
      - postgres_dbv:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: trading_cards

  postgres-seed:
    build: ./postgres-seed
    depends_on:
      - server

volumes:
  postgres_dbv: {}
