services:
  server:
    build:
      context: .
      args:
        - MODE=development
    ports:
      - 3000:3000
    environment:
      AUTH_BASE_URL: ${AUTH_BASE_URL}
      AUTH_CLIENT_ID: ${AUTH_CLIENT_ID}
      AUTH_ISSUER_BASE_URL: ${AUTH_ISSUER_BASE_URL}
      AUTH_SECRET: ${AUTH_SECRET}
      CARD_TRADER_API_KEY: ${CARD_TRADER_API_KEY}
      MONGODB_CONNECTION_STRING: ${MONGODB_CONNECTION_STRING}
      EMAILER_SERVICE: ${EMAILER_SERVICE}
      EMAILER_SENDER: ${EMAILER_SENDER}
      EMAILER_PASSWORD: ${EMAILER_PASSWORD}
      DATABASE_URL: ${DATABASE_URL}
      ADMIN_TOKEN: ${ADMIN_TOKEN}
      HONEY_BADGER: ${HONEY_BADGER}
    depends_on:
      - mongo
      - postgres

  mongo:
    image: mongo:4.4.6
    ports:
      - 27017:27017
    restart: always
    volumes:
      - mongo_dbv:/data/db/
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin

  mongo-seed:
    build: ./mongo-seed
    depends_on:
      - mongo

  postgres:
    image: postgres:16-alpine
    ports:
      - 5432:5432
    restart: always
    volumes:
      - postgres_dbv:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: trading_cards

  postgres-seed:
    build: ./postgres-seed
    depends_on:
      - server

volumes:
  mongo_dbv: {}
  postgres_dbv: {}
