name: ci

on:
  push:
    branches:
      - '**'

permissions:
  contents: write

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Dependencies
        run: npm install
      - name: Build Project
        run: MODE=development npm run build
      - name: Run Linter
        run: npm run check
      - name: Run Unit Tests
        run: npm run test

  e2e-test:
    needs: unit-test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Create environment variables
        run: |
          echo "CARD_TRADER_API_KEY=${{ secrets.CARD_TRADER_API_KEY}}
          AUTH_CLIENT_ID=${{ secrets.AUTH_CLIENT_ID }}
          AUTH_SECRET=${{ secrets.AUTH_SECRET }}
          AUTH_ISSUER_BASE_URL=${{ secrets.AUTH_ISSUER_BASE_URL }}
          AUTH_BASE_URL=${{ secrets.AUTH_BASE_URL }}
          ADMIN_TOKEN=${{ secrets.ADMIN_TOKEN }}
          EMAILER_SERVICE=${{ secrets.EMAILER_SERVICE }}
          EMAILER_SENDER=${{ secrets.EMAILER_SENDER }}
          EMAILER_PASSWORD=${{ secrets.EMAILER_PASSWORD }}
          DATABASE_URL=postgresql://admin:admin@postgres:5432/trading_cards?schema=public
          HONEY_BADGER=${{ secrets.HONEY_BADGER }}
          " > .env
      - name: Start Container
        run: docker compose up -d --build
      - name: Install Dependencies
        run: npm install
      - name: e2e Test
        run: npm run cypress

  build:
    if: github.ref == 'refs/heads/main'
    needs: e2e-test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push artifact history
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME  }}/tcgvalor-server:amd-${{ github.run_id }}-${{ github.run_attempt }}
      - name: Build and push deployable image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME  }}/tcgvalor-server:amd
      - name: Create tag
        uses: actions/github-script@v6
        with:
          script: |
            github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: 'refs/tags/${{ github.run_id }}-${{ github.run_attempt }}',
              sha: context.sha
            })
